# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

.RDataTmp

*.log

*.RData

*.Rd

*.pdf

test/LabelFree-ub/data/LabelFree-ub-evidence.txt

test/LabelFree-ub/data/LabelFree-ub-evidence-keys.txt

test/LabelFree-ub/data/LabelFree-ub-evidence-contrasts.txt

test/LabelFree-ub/config.yml
